services:
  - type: web
    name: pharmaflow-backend
    runtime: node
    region: oregon
    plan: free
    branch: master
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
