services:
  - type: web
    name: pharmaflow-backend
    runtime: docker
    region: oregon
    plan: free
    branch: master
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
